body {
    background-color: #424242;
    padding: 0;
    margin: 0;
}
.menu-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    box-shadow: 0 0 10px #000000;
    -webkit-app-region: drag;
}
